# Common files
*.backup
*disabled

# Ignore Confluent Cloud API Keys
api-key.txt

# Terraform
terraform.tfvars
*.tfstate
.terraform
.terraform.lock.hcl
terraform/*/files
terraform/*/aws-remote-tfstate-s3.tf
terraform.tfstate.backup
terraform/*/generated
